<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="AjFramework" type="AjFramework.Core.ConfigurationHandler,AjFramework.Core" />
	</configSections>
	<AjFramework>
		<Objects>
			<Object Name="Form1" Type="TestConfiguration.Form1, TestConfiguration">
				<Property Name="Text" Value="Formulario 1"/>
				<Property Name="Width" Value="500"/>
			</Object>
			<Object Name="Form2" Type="TestConfiguration.Form1, TestConfiguration">
				<Property Name="Text" Value="Formulario 2"/>
			</Object>
			<!--
			<Object Name="Form3" Type="TestConfigurationLib.Form1, TestConfigurationLib">
				<Property Name="Text" Value="Formulario 3"/>
			</Object>
			<Object Name="Form4" Type="TestConfigurationLib.Form1, TestConfigurationLib">
				<Parameter Value="Formulario 4"/>
			</Object>
			<Object Name="Form3" Type="System.Windows.Forms.Form, System.Windows.Forms"/>
			-->
		</Objects>
	</AjFramework>
</configuration>
